header {
	padding: 40px 0;
}

.caixa {
    position: relative;
	width: 940px;
	margin: 0 auto;
}

.foto {
    width: 20%;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    transition: 300ms;
}

.foto:hover {
    width: 25%;
    transition: 300ms;
}


.meuNome {
    text-align: right;
    font-size: 55px;
    position: absolute;
    top: 120px;
    right: 0;
    font-family: 'Dancing Script', cursive;
    transition: 300ms;
}

.meuNome:hover {
    font-size: 75px;
    transition: 300ms;
}

.experiencia, .formacoes, .outrasHabilidades {
    margin-left: 100px;
}

.tituloPrincipal {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin: 2em;
}

.empresas, .listaFormacoes, .listaHabilidades {
    padding: 30px;
}

.tituloExperiencia, .curso {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;

}

.cargo, .instituicao{
    font-size: 22px;
    font-style: italic;
}

.itens, .habilidades {
    font-size: 20px;
}

.itens:before, .habilidades:before {
	content: "★";
}

main {
    background: linear-gradient(white, gray);
}

.periodo {
    font-size: 22px;
    font-style: italic;
}

footer {
    padding: 3em;
    background: linear-gradient(gray, black);
}

p {
    text-align: center;
    color: white;
}

