header {
	background-color: lightgreen;
	padding: 40px 0;
}

.caixa {
    position: relative;
	width: 940px;
	margin: 0 auto;
}

.foto {
    width: 20%;
    display: inline-block;
}

.titulo {
    text-align: right;
    font-size: 45px;
    position: absolute;
    top: 120px;
    right: 0;
}